/* body {
  background: black;
} */
/* main_info section style */
#intro {
  background: url("https://www.spacex.com/static/images/falcon-heavy/FH_2.webp")
    50% 0 no-repeat fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}
#second {
  background: black 50% 0 no-repeat fixed;
  background-size: cover;
  color: #fff;
  height: 40vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
#third {
  background: url("https://www.spacex.com/static/images/falcon-heavy/desktop/WebsiteFHFairings_Lines_Desktop.webp")
    50% 0 no-repeat fixed;
  background-size: cover;
  color: white;
  height: 200vh;
  padding: 100px 0 0 0;
}

#fifth {
  background: url("https://www.spacex.com/static/images/falcon-heavy/FH_10.webp")
    50% 0 no-repeat fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  padding: 40px 0 0 0;
}

/* slide section style */
.falcon1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://www.spacex.com/static/images/falcon-heavy/desktop/WebsiteFHFairings_Render_Desktop.webp")
    no-repeat center bottom;
  background-size: cover;
}
.falcon2 {
  position: absolute;
  /* left: 100%; */
  width: 100%;
  height: 100%;
  background: url("https://www.spacex.com/static/images/falcon-heavy/desktop/WebsiteFHS1Legs_Render_Desktop.webp")
    no-repeat center bottom;
  background-size: cover;
}
.falcon3 {
  position: absolute;
  /* left: 200%; */
  width: 100%;
  height: 100%;
  background: url("https://www.spacex.com/static/images/falcon-heavy/desktop/WebsiteFHS2_Render_Desktop.webp")
    no-repeat center center;
  background-size: cover;
}
